<!doctype html>
<html class="no-js" ng-app="meanMapApp">
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>

    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaFba0cNH0SJ4sXFUQNoDkv3mJcx_tXGY"></script>

    <!-- JS Source -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>

    <!-- Angular Scripts -->
    <script src="js/app.js"></script>
    <script src="js/addCtrl.js"></script>
    <script src="js/gservice.js"></script>
</head>
<body ng-controller="addCtrl">
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <div class="col-sm-7">
            <div id="map" style="width:645px; height:645px"></div>
        </div>

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-5">
            <div class="well">
                <h3><span class="fa fa-user"></span>User Data</h3>
                <form name ="addForm" novalidate>
                    <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="you@whereever.com" ng-model="formData.email" readonly>
                    </div>
                    <div class="form-group">
                        <label for="latitude">Latitude</label>
                        <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude" readonly>
                    </div>
                    <div class="form-group">
                        <label for="longitude">Longitude</label>
                        <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude" readonly>
                    </div>
                    <button type="submit" class="btn btn-danger btn-block" ng-click="setLocation()" ng-disabled="addForm.$invalid">Submit</button>
                </form>
            </div>
        </div>

    </div>

</div>
</body>
</html>
